body {
}

#pascal {
    display: flex;
    flex-direction: column;
}

.sor {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.elem {
    background-color: fuchsia;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
